html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0}
address{ font-style:normal;}:focus{outline:0}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0;color:inherit; font:inherit;}caption,th,td{text-align:left;font-weight:400}blockquote:before,blockquote:after,q:before,q:after{content:""}
a img{cursor:pointer;}
a{color:#00abe5; text-decoration:none;}
a:hover{color:#34308d; text-decoration:none;}
.fl{float:left;}
.fr{float:right;}
.padd{padding:20px 0 10px 0;}
.padd1{padding:10px 0 0 0;}
.top-padd{padding:20px 0 30px 0;}
h3{ color:#717171; font:18px 'Open Sans', Arial, sans-serif; padding:20px;}
.div{border-bottom:1px solid #e5e5e5;}	
@charset "UTF-8";
.clearfix:after{content:".";visibility:hidden;height:0}.clearfix:after,html[xmlns] .clearfix,.clearfix{display:block}.clearfix:after,.clear,.break{clear:both}.clearfix:after,.clear{line-height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}.clear{height:1px;font-size:0}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans'),local('OpenSans'),url('https://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff')format('woff');}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'),local('OpenSans-Bold'),url('https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff') format('woff');}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('https://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff') format('woff');}
#container{width:940px;padding:0;margin:0 auto;background:#FFF;}
#header-full{width:100%;border-bottom:1px solid #d3d2d2;}
#header{width:940px;height:65px;margin:0 auto;padding-top:20px;position:relative;}
#logo{width:140px; float:left;}
.gray_container{float:left;width:900px;background-color:#f0f1f2;border:1px solid #f0f1f2;border-radius:7px 7px 7px 7px;padding:14px;margin:0;}
.tab_container{float:left;width:900px;background-color:#fff;border-radius:7px;color:#888;padding:0;}
.tab_container p{font:16px 'Open Sans', Arial, sans-serif; }
h2{font:20px 'Open Sans', Arial, sans-serif;padding:15px 0 10px 0;}
.blu{color:#00aaeb;}
#midd{width:900px;margin:0 auto;padding:0} 
.query { clear: both;margin:0;overflow: hidden; padding:  0; width: 900px;}
.query label { color: #636363;float: left;font: 16px 'Open Sans', Helvetica,Arial,Verdana,sans-serif;padding: 5px 10px 0 0;text-align: right;width: 180px;}
.query select {border: 1px solid #E5E5E5;box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) inset;color: #717171;font: 12px 'Open Sans', Arial,Helvetica,sans-serif;margin-bottom: 0;padding: 6px;}
.query select:hover, .query select:focus { border-color: #39A9D2;margin-bottom: 0;outline: 0 solid #39A9D2;}
.query input[type="text"], .query input[type="password"] {border: 1px solid #E5E5E5;box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) inset;color: #717171; font: 17px 'Open Sans', Arial,Helvetica,sans-serif; margin-bottom: 0;outline: 0 none; padding: 6px;}
.query input[type="text"]:hover, .query input[type="text"]:focus, .query input[type="password"]:hover, .query input[type="password"]:focus {border-color: #39A9D2; margin-bottom: 0;}
.submit {background-color: #1ab9f8; border: medium none; border-radius: 5px 5px 5px 5px; color: #FFFFFF;cursor: pointer;font-size: 18px;height: 36px;padding: 5px 10px;text-align: center;width: 90px;margin:10px 0;}
.submit:hover {background-color: #339ACD;}
.submit:active { background-color: #339ACD;}
.query .chk { background: url("../images/rch-icon.gif") no-repeat scroll -305px -29px transparent;}
.white {background: none repeat scroll 0 0 #FFFFFF; margin: 10px 0 0; padding: 0 0 10px 192px;  font: 15px'Open Sans',  Helvetica,Arial,Verdana,sans-serif;}
.white1 {background:  #FFFFFF; margin: 10px 0 0; padding: 0 0 10px 35px; }
.cvv {color: #0ea1da; font: 14px'Open Sans',  Helvetica,Arial,Verdana,sans-serif; padding: 18px 0 0 0; width: 245px;}
.cvv a{color: #0ea1da; font: 14px'Open Sans',  Helvetica,Arial,Verdana,sans-serif; padding: 18px 0 0 0; width: 245px;}
.cvv1 {color: #0ea1da; font: 14px'Open Sans',  Helvetica,Arial,Verdana,sans-serif; padding: 9px 0 0 0; width: 245px;}
.cvv1 a{color: #0ea1da; font: 14px'Open Sans',  Helvetica,Arial,Verdana,sans-serif; padding: 9px 0 0 0; width: 245px;}
.checkbox, .radio { background: url("../images/checkbox.png") no-repeat scroll 0 0 transparent; clear: left; display: block; float: left; height: 29px; margin: 0 0 0 5px; padding: 0 0;width: 30px;}
.footer-query-top {width:100%; margin:40px 0 20px 0; border-top:1px solid #d3d2d2; }
.footer-query { padding:0;width: 940px;  margin:0 auto;}
.footer-query img{padding:0 20px 0 0 ;}
.footer-left{font:13px 'Open Sans', Helvetica,Arial,Verdana,sans-serif; color:#818080; margin:28px 10px 0 0; }
.gray{background:#f4f4f4; width:900px;}
.lock{ color:#aaaaaa; font: 13px 'Open Sans', Helvetica,Arial,Verdana,sans-serif; text-align:center; width:200px; margin:30px 30px 0 0;}
.lock1{  color:#aaaaaa; font: 13px 'Open Sans', Helvetica,Arial,Verdana,sans-serif; text-align:center; width:220px; margin:10px 30px 0 0;}
.chk_btn {float: left;padding-bottom: 5px;width: 870px;}
.chk_btn li {float: left;padding-right: 10px;padding-top:10px;}
.chek {float: left;font-size: 14px;margin: 3px 0;padding-left: 3px;padding-top: 3px;}
.unchek {background: url(../images/checkbox.png) no-repeat scroll 0 -2px transparent;float: left; font-size: 14px; height: 28px;line-height: 30px; margin: 3px 0;padding-left: 32px;}
.list {width:480px; margin:0 0 0 30px; padding:0;}
.list li span{ font: normal 16px/25px Verdana, Geneva, sans-serif; padding:0 0 0 0px; color:#717171; }
.list li span img{ padding:0; margin:0; }
.list li span a{ font: normal 12px/30px Verdana, Geneva, sans-serif; padding:0 ; color:#00abe5; text-decoration:none;}
.error{color: #FF0000;font: 12px 'Open Sans', Helvetica,Arial,Verdana,sans-serif; margin: 0 0 0px 190px; width: 470px;}
.errornew li span{color: #FF0000;font: 12px 'Open Sans', Helvetica,Arial,Verdana,sans-serif; margin: 0 0 0px 190px; width: 470px;}
.errornew {display: none}
.errorsaved li span{color: #FF0000;font: 12px 'Open Sans', Helvetica,Arial,Verdana,sans-serif; margin: 0 0 0px 60px; width: 470px;}
.errorsaved {display: none}
.error ul { list-style-type: none;margin: 0; padding: 0;}
.overlay2{position: absolute;top: 189px; z-index: 1000;}
.overlay1{position: absolute;top: 287px; z-index: 1000;}
a.tooltip {outline:none; } 
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span { z-index:10;display:none; padding:14px 20px; margin-top:-30px; margin-left:30px; width:240px; line-height:16px; } 
a.tooltip:hover span{ display:inline; position:absolute; color:#858585; font: 12px'Open Sans',  Helvetica,Arial,Verdana,sans-serif;  background:#fff url(src/css-tooltip-gradient-bg.png) repeat-x 0 0; } 
.callout {z-index:20;position:absolute;border:0;top:20px;left:-14px;} /*CSS3 extras*/ 
a.tooltip span { border-radius:2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -moz-box-shadow: 0px 0px 8px 4px #c1c1c1; -webkit-box-shadow: 0px 0px 8px 4px #c1c1c1; box-shadow: 0px 0px 8px 4px #c1c1c1; }
.cancelButton {background: none repeat scroll 0 0 #FFFFFF; border: medium none; color: #0EA1DA; margin: 0; text-decoration: underline; width: 100px; cursor: pointer;}
.hide {display:none;}
.overlay {position: absolute;top: 306px;z-index: 1000;}